@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eeeeee;
}

.left-links , .right-links {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: 4px solid #eee;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-top: 16px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}